#containerDiv {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
}

#closeButton {
    width: 20px;
    height: 20px;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
}
